<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <center>
        <h1>all India Banks full details </h1>
        <table border="3px">
            <tr>
                <th>Bank name</th>
                <th>IFSC</th>
                <th>Branch</th>
                <th>Address</th>
                <th>Contact</th>
                <th>City</th>
                <th>District</th>
                <th>State</th>
            </tr>
        {% for i in BRDO %}
            <tr>
                <td>{{i.bank_name}}</td>
                <td>{{i.ifsc}}</td>
                <td>{{i.branch}}</td>
                <td>{{i.address}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.city}}</td>
                <td>{{i.district}}</td>
                <td>{{i.state}}</td>
            </tr>
        {% endfor %}
        </table>
    </center>
</body>
</html>